<div class="container">
	<div class="row">
		<div class="col-lg-offset-4 col-lg-4">

			<div class="row">
				<h1>welcome to
					<span class="glyphicon glyphicon-book"></span>
					<span class="bookers">Bookers</span>.</h1>
			</div>

			<div class="row">
				<p>In <span class="glyphicon glyphicon-book"></span>
					<span class="bookers">Bookers</span>,</p>
			</div>

			<div class="row">
				<p>you can share and exchange your opinions , inpressions , and emotions</p>
			</div>

			<div class="row">
				<p>about various books!</p>
			</div>

			<div class="row">
				<%= link_to 'Log in', new_user_session_path, class: "btn btn-primary btn-block" %>
			</div>
			<div class="row">
				<%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success btn-block" %>
			</div>

		</div>
	</div>
</div>